@page "/"
@using Microsoft.JSInterop
@using System.Text.Json



Enter your name: <input @bind="name" />

<div>
    <button @onclick="Initilize">Initilize</button>
</div>
<div>
    <button @onclick="Auth">Auth</button>
</div>
<div>
    <button @onclick="PublicState">PublicState</button>
</div>
<div>
    <button @onclick="ResourceIsApproved">Resource is approved</button>
</div>
<div>
    <button @onclick="ResourceIsBlocked">Resource is blocked</button>
</div>


Title: <input @bind="title" />
Message: <input @bind="message" />
<div>
    <button @onclick="Notification">Notification</button>
</div>

@code {

    private string name;
    private string title;
    private string message;
    
  
    async Task Auth()
    {        
        AuthData authData1 = new()
        { 
            Data= "Generated string from server",
            Name= "My test App",            
            Referrer= "https://localhost:7298/",
            SuccessPath= "https://localhost:7298/"
        };
        var r = await _wavesKeeper.Auth(authData1);
        name = JsonSerializer.Serialize(r);
    }

    async Task PublicState()
    {        
        var r = await _wavesKeeper.PublicState();
        name = JsonSerializer.Serialize(r);
    }

    async Task Initilize()
    {
        await _wavesKeeper.InitialPromise();       
    }   

    async Task Notification()
    {
        await _wavesKeeper.Notification(title, message);           
    }

    async Task ResourceIsApproved()
    {           
        var result = await _wavesKeeper.ResourceIsApproved();  
        name = result.ToString();
    }

    async Task ResourceIsBlocked()
    {
        var result = await _wavesKeeper.ResourceIsBlocked();  
        name = result.ToString();
    }


    

}
